D.E. veloper_SD Seminar_23.0.0.0.app
.alpackages/Microsoft_Application_23.0.12034.12841.app
.alpackages/Microsoft_Base Application_23.0.12034.12841.app
.alpackages/Microsoft_System Application_23.0.12034.12841.app
.alpackages/Microsoft_System_23.0.12831.0.app
.vscode/launch.json
.vscode/rad.json
Translations/SD Seminar.g.xlf
